.flexmenu {
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0px;
    color: white;
}

.flexmenuitem {
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 250px;
}

body {
    background-color: cadetblue;
}