body {
    background-color: #5CDB95;
    background-size: cover;
    font-family: 'Montserrat';
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  width: 60 px;
}

ul a {
    display: block;
    text-decoration: none;
    background-color: midnightblue;
    color: white;
    width: 150px;
    padding:10px;
    
}