body {
    background-color: #5CDB95;
    background-size: cover;
    font-family: 'Montserrat';
}

a {
    border-radius: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    color:black;
}

li a:hover {
    background-color:darkgrey;
}