.flexmenu {
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0px;
    color: white;
}

.flexmenuitem {
    background-color: yellow;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 1500px;
    text-align: center;
}

body {
    background-color: purple;
}

p {
    background-color: yellow;
    color: deeppink
}

div {
    background-color: yellow;
    color: deeppink
}