 body {
  font-family: "Lato", sans-serif;
}

.flexmenu {
    width: 10%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0px;
    color: white;
}

.flexmenuitem {
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 1500px;
    text-align: center;
}

body {
    background-color: midnightblue;
}

p {
    color: darkgrey;
}

div {
    background-color: black;
    color: deeppink
}

li {
    float: right;
}